parameters:
  bootstrapFiles:
    - %currentWorkingDirectory%/drupal/vendor/autoload.php
  scanFiles:
    - %currentWorkingDirectory%/drupal/web/core/tests/Drupal/Tests/PhpunitCompatibilityTrait.php
  customRulesetUsed: true
  reportUnmatchedIgnoredErrors: false
  ignoreErrors:
    - '#\Drupal calls should be avoided in classes, use dependency injection instead#'
    - '#Unsafe usage of new static\(\).#'
  drupal:
    drupal_root: %currentWorkingDirectory%/drupal/web
  parallel:
    processTimeout: 300.0
includes:
    - %currentWorkingDirectory%/vendor/mglaman/phpstan-drupal/extension.neon
    - %currentWorkingDirectory%/vendor/phpstan/phpstan-deprecation-rules/rules.neon
